# Ignorar la carpeta env
env/

# Ignorar la carpeta vscode
.vscode/

# Ignorar la carpeta history
.history/

# Ignorar la carpeta staticfiles
staticfiles/
    
# Ignorar el archivo archivos
notas.txt
backupdb.py
database_restore.py

