<!-- notificaciones.html -->
<style>
  h2 {
    font-size: 24px; /* Tamaño del título */
    font-weight: bold;
  }
  
  .list-group-item {
    font-size: 14px; /* Tamaño del texto en los elementos de la lista */
  }
  
  .list-group-item strong {
    font-size: 14px; /* Tamaño del texto en negrita */
  }
  
  .list-group-item small {
    font-size: 14px; /* Tamaño del texto de las fechas */
  }
  
  .text-danger {
    font-size: 16px; /* Tamaño del texto de "Vencida" */
    font-weight: bold;
  }
  
  .text-custom {
    font-size: 14px; /* Tamaño del texto de categoría */
    color: #004b94;
    font-weight: bold;
  }
</style>
<div class="row">
  <!-- Columna para tareas vencidas -->
  <div class="col-md-6 pe-2">
    <h2>Tareas Vencidas</h2>
    <ul class="list-group">
      {% if overdue_tasks %}
        {% for task in overdue_tasks %}
          <li class="list-group-item">
            <strong>{{ task.title }} |</strong>
            <span class="text-custom">{{ task.get_category_display }}</span><br />
            <span class="text-danger">Vencida </span><span>| </span>
            <small>{{ task.due_date|date:'d-m-Y' }}</small>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">No hay tareas vencidas.</li>
      {% endif %}
    </ul>
  </div>

  <!-- Columna para tareas solapadas -->
  <div class="col-md-6 ps-2">
    <h2>Tareas Solapadas</h2>
    <ul class="list-group">
      {% if overlapping_tasks %}
        {% for task, other_task in overlapping_tasks %}
          <li class="list-group-item">
            <strong>{{ task.title }}</strong><span class="text-danger"> se solapa con </span><strong>{{ other_task.title }}</strong><br />
            <span class="text-custom">Fechas: </span><small>{{ task.due_date|date:'d-m-Y' }} y {{ other_task.due_date|date:'d-m-Y' }}</small>
          </li>
        {% endfor %}
      {% else %}
        <li class="list-group-item">No hay tareas solapadas.</li>
      {% endif %}
    </ul>
  </div>
</div>
