{% extends 'base.html' %}
{% block title %}
  {% if form.instance.pk %}
    Editar
  {% else %}
    Crear
  {% endif %}Tarea Semanal
{% endblock %}

{% block content %}
  <style>
    .container1 {
      padding: 20px;
    }
  </style>

  <a href="{% url 'tasks_list' %}" style="background-color: #004b94;" class="btn"><i class="bi bi-arrow-left text-white"></i></a>
  <div class="container1 col-md-12 col-lg-12">
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
          <!-- Título -->
          <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Título de la tarea" required value="{{ form.instance.title }}" />
          </div>

          <!-- Descripción -->
          <div class="mb-3">
            <label for="description" class="form-label">Descripción</label>
            <textarea style="height: 123px;" name="description" id="description" class="form-control" rows="3" placeholder="Descripción de la tarea">{{ form.instance.description }}</textarea>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Categoría -->
          <div class="mb-3">
            <label for="category" class="form-label">Categoría</label>
            <select name="category" id="category" class="form-select">
              <option value="">Seleccionar...</option>
              <option value="estadistica_informacion" {% if form.instance.category == "estadistica_informacion" %}selected{% endif %}>Estadística e Información</option>
              <option value="planeacion_estrategia" {% if form.instance.category == "planeacion_estrategia" %}selected{% endif %}>Planeación y Estrategia</option>
              <option value="procesos_r" {% if form.instance.category == "procesos_r" %}selected{% endif %}>Procesos /R</option>
              <option value="alianzas" {% if form.instance.category == "alianzas" %}selected{% endif %}>Alianzas</option>
            </select>
          </div>

          <!-- Estado -->
          <div class="mb-3">
            <label for="status" class="form-label">Estado</label>
            <select name="status" id="status" class="form-select">
              <option class="text-black" value="in_progress" {% if form.instance.status == "in_progress" %}selected{% endif %}>En Proceso</option>
              {% comment %} <option value="due_soon" {% if form.instance.status == "due_soon" %}selected{% endif %}>Próximo a Vencer</option>
              <option value="overdue" {% if form.instance.status == "overdue" %}selected{% endif %}>Venció</option> {% endcomment %}
              <option class="text-black" value="completed" {% if form.instance.status == "completed" %}selected{% endif %}>Finalizado</option>
            </select>
          </div>

          <!-- Día de Evaluación -->
          <div class="mb-3">
            <label for="evaluation_day" class="form-label">Día de Evaluación</label>
            <select name="evaluation_day" id="evaluation_day" class="form-select">
              <option value="">Seleccionar...</option>
              {% comment %} <option value="monday" {% if form.instance.evaluation_day == "monday" %}selected{% endif %}>Lunes</option>
              <option value="tuesday" {% if form.instance.evaluation_day == "tuesday" %}selected{% endif %}>Martes</option>
              <option value="wednesday" {% if form.instance.evaluation_day == "wednesday" %}selected{% endif %}>Miércoles</option>
              <option value="thursday" {% if form.instance.evaluation_day == "thursday" %}selected{% endif %}>Jueves</option> {% endcomment %}
              <option value="friday" {% if form.instance.evaluation_day == "friday" %}selected{% endif %}>Viernes</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Botón de Enviar -->
      <div class="d-flex" style="margin-top: 35px;">
        <button type="submit" class="btn btn-success ms-auto">
          {% if form.instance.pk %}
            Actualizar Tarea
          {% else %}
            Crear Tarea
          {% endif %}
        </button>
      </div>
    </form>
  </div>
{% endblock %}
