{% extends 'base.html' %}

{% block title %}
Estadística e Información
{% endblock %}

{% block content %}
  <style>
    .lista-container {
      margin-bottom: 40px;
    }
    
    .lista h4 {
      font-size: 1.75rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .list-group-item {
      font-size: 1.1rem;
    }
    
    .add-button {
      text-align: center;
      margin-top: 20px;
    }
    /* Ancho personalizado para las columnas */
    .table th:nth-child(1) {
      width: 60%;
    }
    
    .table th:nth-child(2) {
      width: 10%;
    }
    
    .table th:nth-child(3) {
      width: 30%;
    }
    .btn-group-sm > .btn {
      margin: 0 2px;
    }
    .numero-item {
      display: inline-block;
      width: 20px; /* Ajusta este valor según tus necesidades */
      text-align: right;
      margin-right: 10px;
    }
    .custom-title {
      background-color: #172645ff;
      padding: 5px;
      border-radius: 8px;
      clip-path: polygon(0 100%, 100% 100%, 90% 0, 10% 0);
    }
    table td {
      font-size: 15px;
      vertical-align: middle !important;
    }
    table th {
      vertical-align: middle !important;
    }
  </style>

  <a href="{% url 'proyectos_año_presente' %}" class="btn" style="background-color: #004b94;"><i class="bi bi-arrow-left text-white"></i></a>
  <!-- Lista de Estadísticas -->
  <div class="row">
    <!-- Left Column -->
    <div class="col-md-5">
      <div class="lista-container lista mb-2" style="flex: 1; padding: 20px; padding-top: 0; padding-right: 10px; background-color: white;">
        <h4 class="custom-title text-white">Proyectos</h4>
        <ul class="list-group">
          {% for estadistica in estadistica_informacion %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <strong class="numero-item me-3">{{ forloop.counter }}.</strong>
              <div title="{{ estadistica.description }}" class="flex-grow-1">{{ estadistica.title }}</div>
              <div class="btn-group btn-group-sm">
                {% if user.is_authenticated and user.is_superuser %}
                  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editEstadisticaModal{{ estadistica.id }}"><i class="bi bi-pencil"></i></button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteEstadisticaModal{{ estadistica.id }}"><i class="bi bi-trash3-fill"></i></button>
                {% endif %}
              </div>
            </li>
          {% empty %}
            <li class="list-group-item text-center">No hay proyectos</li>
          {% endfor %}
        </ul>

        <div class="add-button mt-3">
          {% if user.is_authenticated and user.is_superuser %}
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalEstadisticas">Agregar Proyecto</button>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Right Column -->
    <div class="col-md-7">
      <div class="lista-container lista me-3 mt-0 mb-2">
        <h4 class="custom-title text-white">Resultados Esperados</h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center">Título</th>
              <th class="text-center">Fecha de Vencimiento</th>
              <th class="text-center">Estado</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks_estadistica_informacion %}
              <tr>
                <td class="col-titulo" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ task.description }}">{{ task.title }}</td>
                <td class="text-center">{{ task.due_date|date:'d/m/Y' }}</td>
                <td class="text-center align-middle
                          {% if task.status == 'completed' %}
                    
                      bg-success text-white


                  {% elif task.status == 'overdue' %}
                    
                      bg-danger text-white


                  {% elif task.status == 'due_soon' %}
                    
                      bg-warning text-dark


                  {% elif task.status == 'in_progress' %}
                    
                      bg-secondary text-white


                  {% else %}
                    
                      bg-primary text-white

                  {% endif %}">{{ task.get_status_display }}</td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="6" class="text-center">No hay tareas asociadas a estadística e información.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Modal para Agregar Estadística -->
  <div class="modal fade" id="modalEstadisticas" tabindex="-1" aria-labelledby="modalEstadisticasLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEstadisticasLabel">Nuevo Proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'agregar_estadistica_informacion' %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="title" class="form-label">Título</label>
              <input type="text" class="form-control" id="title" name="title" required />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modales de Edición y Eliminación para Estadísticas -->
  {% for estadistica in estadistica_informacion %}
    <!-- Modal de Edición para cada estadística -->
    <div class="modal fade" id="editEstadisticaModal{{ estadistica.id }}" tabindex="-1" aria-labelledby="editEstadisticaModalLabel{{ estadistica.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Proyecto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" action="{% url 'editar_estadistica_informacion' pk=estadistica.id %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" name="title" value="{{ estadistica.title }}" required />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea class="form-control" name="description">{{ estadistica.description }}</textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal de Eliminación para cada estadística -->
    <div class="modal fade" id="deleteEstadisticaModal{{ estadistica.id }}" tabindex="-1" aria-labelledby="deleteEstadisticaModalLabel{{ estadistica.id }}" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">¿Está seguro de que desea eliminar el Proyecto "{{ estadistica.title }}"?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <form method="post" action="{% url 'eliminar_estadistica_informacion' pk=estadistica.id %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
