{% extends 'base.html' %}

{% block title %}
  Proyectos {{ years.current_year }}
{% endblock %}

{% block extra_css %}
  <style>
    .titulo {
      text-align: center;
      margin-bottom: 30px;
      font-size: 2.5rem;
      font-weight: bold;
      margin-top: 38px;
    }
    
    .lista-container {
      margin-bottom: 40px;
    }
    
    .lista h4 {
      font-size: 1.75rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .list-group-item {
      font-size: 1.2rem;
    }
    
    .add-button {
      text-align: center;
      margin-top: 20px;
    }
    
    .table th:nth-child(1) {
      width: 60%;
    }
    
    .table th:nth-child(2) {
      width: 20%;
    }
    
    .table th:nth-child(3) {
      width: 20%;
    }
    .btn-group-sm > .btn {
      margin: 0 2px;
    }
    .numero-item {
      display: inline-block;
      width: 20px; /* Ajusta este valor según tus necesidades */
      text-align: right;
      margin-right: 10px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container contenedor">
    <a href="{% url 'proyectos_año_presente' %}" class="btn btn-primary"><i class="bi bi-arrow-left"></i></a>
    <div class="titulo">
      <h1>Proyectos {{ years.current_year }}</h1>
    </div>
    <!-- Listas -->
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-5">
        <div class="lista-container lista" style="flex: 1; padding: 20px; border-radius: 8px; background-color: #f8f9fa; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
          <h4>Planeación y Estrategia</h4>
          <ul class="list-group">
            {% for PE in planeacion_estrategia %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <strong class="numero-item me-3">{{ forloop.counter }}.</strong>
                <div title="{{ PE.description }}" class="flex-grow-1">{{ PE.title }}</div>
                <div class="btn-group btn-group-sm">
                  {% if user.is_authenticated and user.is_superuser %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editPlaneacionModal{{ PE.id }}"><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePlaneacionModal{{ PE.id }}"><i class="bi bi-trash3-fill"></i></button>
                  {% endif %}
                </div>
              </li>
            {% empty %}
              <li class="list-group-item text-center">No hay proyectos</li>
            {% endfor %}
          </ul>
          <div class="add-button">
            {% if user.is_authenticated and user.is_superuser %}
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregarPlaneacion">Agregar Proyecto</button>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-md-7">
        <div class="lista-container lista">
          <h4>Resultados Esperados</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Título</th>
                <th class="text-center">Fecha de Vencimiento</th>
                <th class="text-center">Estado</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks_planeacion_estrategia %}
                <tr>
                  <td class="col-titulo" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ task.description }}">{{ task.title }}</td>
                  <td class="text-center">{{ task.due_date|date:'d/m/Y' }}</td>
                  <td class="text-center align-middle
                          {% if task.status == 'completed' %}
                      
                      bg-success text-white


                    {% elif task.status == 'overdue' %}
                      
                      bg-danger text-white


                    {% elif task.status == 'due_soon' %}
                      
                      bg-warning text-dark


                    {% elif task.status == 'in_progress' %}
                      
                      bg-secondary text-white


                    {% else %}
                      
                      bg-primary text-white

                    {% endif %}">{{ task.get_status_display }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="6" class="text-center">No hay tareas asociadas a planeación.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal para Agregar Planeación Estrategia -->
    <div class="modal fade" id="modalAgregarPlaneacion" tabindex="-1" aria-labelledby="modalAgregarPlaneacionLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAgregarPlaneacionLabel">Nuevo Proyecto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="{% url 'agregar_planeacion_estrategia' %}">
            {% csrf_token %}
            <div class="modal-body">
              <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" id="title" name="title" required />
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Descripción</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal de Edición para cada Planeación Estrategia -->
    {% for PE in planeacion_estrategia %}
      <div class="modal fade" id="editPlaneacionModal{{ PE.id }}" tabindex="-1" aria-labelledby="editPlaneacionModalLabel{{ PE.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editPlaneacionModalLabel{{ PE.id }}">Editar Proyecto</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'editar_planeacion_estrategia' PE.id %}">
              {% csrf_token %}
              <div class="modal-body">
                <div class="mb-3">
                  <label for="title" class="form-label">Título</label>
                  <input type="text" class="form-control" name="title" value="{{ PE.title }}" required />
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Descripción</label>
                  <textarea class="form-control" name="description">{{ PE.description }}</textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}

    <!-- Modal de Eliminación para cada Planeación Estrategia -->
    {% for PE in planeacion_estrategia %}
      <div class="modal fade" id="deletePlaneacionModal{{ PE.id }}" tabindex="-1" aria-labelledby="deletePlaneacionModalLabel{{ PE.id }}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletePlaneacionModalLabel{{ PE.id }}">Confirmar Eliminación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">¿Está seguro de que desea eliminar el Proyecto "{{ PE.title }}"?</div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form method="POST" action="{% url 'eliminar_planeacion_estrategia' PE.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
